h1{
    text-align: center;
    font: 36px Arial;
}

#board{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    border-top: 2px solid black;
    border-right: 2px solid black;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    
}

.cell{
    display: flex;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font: 64px Arial;
}